name: PHPUnit
on:
  push:
    branches:
      - master
    tags:
      - "*.*.*"
  pull_request:
    branches:
      - master

jobs:
  Build:
    runs-on: 'ubuntu-latest'
    container: 'byjg/php:${{ matrix.php-version }}-cli'
    strategy:
      matrix:
        php-version:
          - "8.4"
          - "8.3"
          - "8.2"
          - "8.1"

    services:
      nginx-php:
        image: byjg/php:8.3-fpm-nginx
        env:
          NGINX_ROOT: /srv/tests/public
          PHP_CONTROLLER: "/app.php"
        ports:
          - 8081:80
        options: >-
          --rm
          -v ${{ github.workspace }}:/srv
          -w /srv

    steps:
      - uses: actions/checkout@v4
      - run: composer install
      - run: php tests/get_class_name.php
      - run: ./vendor/bin/psalm
      - run: ./vendor/bin/phpunit
      - name: Validate PHP-FPM. Threads should not work.
        run: |
          apk add --no-cache curl
          echo "Ping"
          curl "http://nginx-php/ping" || true
          echo "Threads"
          curl -s "http://nginx-php/thread" | grep '{"error":{"type":"Runtime","message":"Threads only works in CLI mode"}}'
          echo "Threadpool"
          curl -s "http://nginx-php/threadpool" | grep '{"error":{"type":"Runtime","message":"Threads only works in CLI mode"}}'
          echo "Promise"
          curl -s "http://nginx-php/promise" | grep '{"error":{"type":"Runtime","message":"Threads only works in CLI mode"}}'

  Build-zts:
    runs-on: 'ubuntu-latest'
    container: 'php:${{ matrix.php-version }}-zts'
    strategy:
      matrix:
        php-version:
          - "8.4"
          - "8.3"
          - "8.2"
          - "8.1"

    steps:
      - uses: actions/checkout@v4
      - name: Install requirements
        run: |
          apt -y -qq update
          apt -y -qq install git zip unzip build-essential
      - name: Install Composer
        run: |
          php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
          php composer-setup.php
          php -r "unlink('composer-setup.php');"
          mv composer.phar /usr/bin/composer
      - name: Install Extensions (PHP >= 8.0)
        run: |
          docker-php-ext-install pcntl
          docker-php-ext-install shmop
          pecl install parallel
          docker-php-ext-enable parallel

      - name: installed extensions
        run: php -m
      - run: composer install
      - run: php tests/get_class_name.php
      - run: ./vendor/bin/phpunit

  Documentation:
    if: github.ref == 'refs/heads/master'
    needs:
      - Build
      - Build-zts
    uses: byjg/byjg.github.io/.github/workflows/add-doc.yaml@master
    with:
      folder: php
      project: ${{ github.event.repository.name }}
    secrets:
      DOC_TOKEN: ${{ secrets.DOC_TOKEN }}

